:root{
    --white: #FFF;
    --primary : #61ECBC;
    --black : #182339;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("../public/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}

/* estilos del contenido principal */
.container{
    max-width: 60rem;
    margin: 0 auto;
    width: 95%;
}

.app-title{
    font-size: 3.8rem;
    margin-top: 5rem;
    color: var(--white);
    line-height: .8;
}

.app-title span{
    display: block;
    color: var(--primary);
    font-size: 4.4rem;
}

.content{
    background-color: var(--white);
    padding: 5rem 4rem;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* estilos del formulario */

.form{
    padding: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form label{
    color: var(--black);
    font-size: 1.8rem;
    margin-bottom: .5rem;
    display: block;
}

.form select{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    background-color: #ECEBEB;
    font-size: 1.5rem;
}

.form [type="submit"]{
    background-color: var(--primary);
    color: var(--black);
    border: none;
    padding: 1rem;
    font-weight: 900;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.form [type="submit"]:hover{
    background-color: #0CB387;
}

 /* mensaje de error */
.error{
    font-size: 1.8rem;
    color: var(--primary);
}

/* estilos del resultado de cotizacion */
.result-wrap{
    margin-top: 5rem;
}

.result-wrap h2{
    text-align: center;
    font-size: 1.8rem;
}

.result{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    align-items: center;
}

.result img{
    width: 100%;
}

.result p{
    font-size: 1.8rem;
}

.result span{
    font-weight: 700;
}